.cart-item {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    border: 1px solid #9e9e9e;
    border-radius: 8px;
    margin: 0.4rem 0;
}

.cart-image {
    width: 100px;
    margin: 0.5rem 0.5rem;
}

.cart-title {
    width: 150px;
    font-size: 1.5rem;
    color: #4b4a4a;
    margin: 0 0.8rem;
}

.cart-quantity-container{
    width: 60px;
}
.cart-quantity {
    font-size: 1.5rem;
    color: black;
    margin: 0 0.8rem;
}

.cart-total-container{
    width: 100px;
}

.cart-total {
    font-size: 1.5rem;
    color: #db5a04;
    margin: 0 0.8rem;
}

.cart-btn {
    height: 100px;
    margin: 0 0.8rem;
}